@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Source+Code+Pro&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #6495ed;
}

nav ul {
  display: flex;
  padding: 30px;
}

ul li {
  list-style: none;
}

ul li a {
  margin: 0 20px;
  color: #fff;
  cursor: pointer;
}

ul li a:hover {
  color: #000;
}
