* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 40vh;
  background: linear-gradient(to left, #3351c3, #5799cf 70%);
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000;
  transition: all 1s ease-in-out;
}

.card:hover {
  transform: rotate(-90deg);
}

.card .number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8%;
}

.card .number p {
  color: #fff;
}

.card .dates ul {
  padding: 5% 0 5% 15%;
}

.card button {
  background: linear-gradient(to left, #34c363, #45dddb 70%);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
