* {
  margin: 0;
  padding: 0;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
}

.time {
  display: flex;
  gap: 10px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 6px;
}

.hour,
.min,
.sec,
span {
  font-size: 2rem;
}
