* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* course design */
.course-content {
  padding: 10px;
}

.course-content article {
  margin-bottom: 30px;
}

/* modal design */
.black-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 60%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
}

.modal .modal-head {
  margin: 20px 0;
}

.modal-head h1 {
  padding-bottom: 20px;
}

/* modal form design */
.modal-form form input,
textarea {
  border: none;
  padding: 20px 0;
  border-bottom: 1px solid #000;
  width: 95%;
  font-size: 17px;
}

.modal-form form .col {
  margin-top: 20px;
  width: 47%;
}

.modal-form form .col-1 {
  float: left;
}

.modal-form form button {
  background-color: #5a4bda;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 20px 0 10px 24px;
  display: block;
}
