* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #242b2e;
  padding-top: 5px;
  position: relative;
}

/* course-banner design */
.course-banner {
  color: #000;
  background-color: #ff6666;
  width: 70%;
  padding: 20px 0;
  position: fixed;
  left: 15%;
}

.course-banner p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* course-heading design */
.course-heading {
  margin: 90px 0 25px 0;
}

.course-heading h2 {
  color: #d27025;
  text-align: center;
}

/* course-image design */
.course-image {
  text-align: center;
}

.course-image img {
  width: 500px;
  border-radius: 10px;
}

/* course-content design */
.course-content {
  width: 70%;
  margin: 25px auto;
  color: #ffffff;
}

/* course-bio-data design */
.course-bio {
  width: 70%;
  color: #ffffff;
  margin: 0 auto;
}

.course-bio .title-heading {
  margin: 10px 0;
  font-size: 20px;
  color: #d27025;
  font-weight: bold;
}
