* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 3%;
  text-align: center;
  border-radius: 10px;
  width: 30%;
}

.container > h2 {
  margin-bottom: 10%;
  font-size: 1.5rem;
}

form {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 100%;
}

form input,
select {
  margin-bottom: 10px;
  margin-top: 3px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  border: 1px solid #000;
}

form button {
  background-color: #000;
  color: #fff;
  padding: 9px;
  border: none;
  border-radius: 5px;
}
