* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-left: 10px;
}

button {
  background-color: #ff6666;
  border: none;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
}

.options {
  border: 1px solid #c9c6c6;
  width: 182px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
}

.option {
  padding: 10px 5px;
}

button:hover + .options {
  opacity: 1;
}
