* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar design */
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 10vh;
  padding: 0 10px;
}

nav > .logo > img {
  object-fit: cover;
  width: 10%;
  height: 100%;
}

nav > .links {
  align-self: center;
}

nav > .links > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav > .links > ul > li {
  list-style: none;
}
nav > .links > ul > li > a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

nav > .button {
  align-self: center;
  justify-self: end;
}

nav > .button > button {
  background-color: #0fdb6b;
  padding: 5px 35px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

/* main container design */
.container {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  height: 90vh;
  overflow: hidden;
}

/* .information div design */
.container > .information {
  padding: 0 10%;
  align-self: center;
}

.container > .information > h1 {
  font-weight: bold;
  font-size: 3rem;
}

.container > .information > p {
  margin: 5% 0;
  text-align: left;
  padding: 0;
}

.container > .information > button {
  background-color: #000;
  color: #fff;
  padding: 8px 25px;
  border: none;
}

/* image div design */
.container > .image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* color displayer div design */
.color-displayer {
  background-color: #ffff00;
}

/* swiggy container design */
.swiggy-container {
  margin: 2% 0 0 0;
  background-color: #2b1e16;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5%;
}

.swiggy-container > .card {
  text-align: center;
  padding-bottom: 20px;
  display: grid;
  grid-template-rows: 80% 20%;
}

.swiggy-container .image {
  justify-self: center;
  text-align: center;
}

.swiggy-container > .card > .image > img {
  width: 80%;
  object-fit: cover;
  margin-bottom: 40px;
}

.swiggy-container > .card > .content > h2,
p {
  text-align: center;
  margin: 2% 0;
  padding: 0 20px;
}

.swiggy-container > .card > .content > p {
  color: #e0bd8f;
  margin: 5% 0;
}
